.authorization {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 570px;
  border: 3px solid #0274D9;
  border-radius: 50px;
  background: #F7F7FA;  
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity .5s;

  &.active {
    opacity: 1;
    pointer-events: all;
    transition: opacity .5s;
  }

  &__logo {
    min-width: 105px;
    height: 60px;
    margin: 40px 0 30px;
    background-image: url("../../assets/svg/header/logo-app.svg");
    background-repeat: no-repeat;
  }

  &__controls {
    display: flex;
    width: 484px;
    margin: 0 0 30px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 242px;
    height: 58px;
    border-bottom: 4px solid #aed0f1;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #0274D9;

    &:nth-child(2) {
      border-bottom: 4px solid #aed0f1;
    }

    &.active {
      border-bottom: 4px solid #0274D9;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 484px;
    margin: 0 0 40px;

    &__field {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 78px;
      margin: 0 0 15px;

      &.active {
        display: flex;
      }

      &:nth-child(3) {
        margin: 0 0 40px;
      }
    }

    &__field:last-child {
      margin: 0 0 40px;
    }
    

    &__field-name {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      text-transform: uppercase;
      color: #0D444D;
    }

    &__field-input {
      width: 100%;
      height: 54px;
      padding: 5px 20px 0;
      border: none;
      border-radius: 10px;
      font-family: "Roboto";
      color: #0274D9;
      background: #E6E6F4;
      box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
    }

    &__login-button,
    &__register-button {
      position: relative;
      display: none;
      width: 400px;
      height: 53px;
      border-radius: 100px;
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #C5E1E6;
      background: #0274D9;      
      transition: all .5s;

      &.active {
        display: inline-block;
      }

      &::before {
        content: "Войти";
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border-radius: 100px;
        background: linear-gradient(45deg, #0066ff, #e71388, #148ef6);
        opacity: 0;
        transition: opacity .5s;
      }

      &:hover::before {
        opacity: 1;
        transition: opacity .5s;
      }
    }

    &__register-button {
      &::before {
        content: "Зарегистрироваться";
      }
    }

    &__message {
      display: none;
      margin: 20px 0 0;
      text-align: center;
      color: #0274D9;

      &.active {
        display: block;
      }
    }
  }
}
