.developer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 115px;

  &__info {
    max-width: 1115px;
    margin: 0 20px 0 0;
    text-align: center;
  }

  &__name,
  &__role,
  &__contribution {
    font-weight: 500;
    font-size: 36px;
    text-shadow: 1px 0 1px #FFF, 1px 1px #FFF,
                -1px 0 1px #FFF, 0 -1px 1px #FFF;
    color: #5F5555;
  }

  &__role {
    margin: 10px 0 20px;
    font-size: 30px;
  }

  &__contribution {
    font-size: 30px;
    line-height: 50px;
    text-align: start;
  }

  &__photo {
    min-width: 440px;
    height: 610px;
    border-radius: 50px;
    border: 5px solid #0274D9;
    background-image: url("../../../../assets/image/about-team/developer-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &:nth-child(3) &__photo {
    background-image: url("../../../../assets/image/about-team/developer-2.jpg");
  }

  &:nth-child(4) &__photo {
    background-image: url("../../../../assets/image/about-team/developer-3.jpg");
  }
}
