@import "../../variables.scss";
.textbook {
  &__pages-controls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    width: 98%;
  }

  &__prev-page {
    background-image: url('../../assets/svg/textbook/arrow-prev-page.svg');
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
    width: 32px;
    height: 50px;
  }

  &__next-page {
    background-image: url('../../assets/svg/textbook/arrow-next-page.svg');
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
    width: 32px;
    height: 50px;
  }

  &__words {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 38px;
    height: calc(100vh - 320px);
    overflow: scroll;
    padding: 0 63px;
  }
}